@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
p span{
    color: transparent;
    -webkit-text-stroke: 1px black;
}
@media screen and (max-width:1000px) {
    .signin{
        display: none;
    }
}
@media screen and (max-width:800px) {
    .menu{
        display: none;
    }
    .menu_icon{
        display: block;
    }
    .logo{
        font-size: 20px;
    }
    .menu_icon:hover .menu_items{
        display: flex;
    }
}
@media screen and (max-width: 670px) {
    .line{
        display: none;
    }
    .numbers{
        flex-direction: column;
        gap: 24px;
    }
}
@media screen and (max-width:500px) {
    .progress{
        padding: 128px 64px;
    }
}
@media screen and (max-width:390px) {
    .text-div{
        flex-direction: column;
        gap: 4px;
    }
}
@media screen and (max-width:300px) {
    .right_arrow{
        display: none;
    }
    .services_heading{
        font-size: 14px;
        padding: 1rem 0;
    }
}